*{
    padding: 0px;
    box-sizing: border-box;
    margin:0;
    /* z-index:-1; */
}

body,html{
    font-family: Ubuntu-regular,sans-serif;
}

body{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.container{
    z-index: -1;
}


.navbar{
    box-sizing: border-box;
    background-color: white;
    box-sizing: border-box;
    color: black;
    /* font-size: 14px; */
    line-height: 20px;
    margin-bottom: 20px;
    min-height: 50px;
    /* position: fixed; */
    width: 100%;
    border-bottom: #e5e5e5 solid 1px;
    display: flex;
    align-items: center;
    /* right: 0px; */
    /* top: 0px; */
    /* z-index: 1030; */
}

.container-header{
    width: 1200px;
    margin: 0 auto;
    /* height: 100%; */
    
}

.dashboard{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.navbar-brand{
    font-size: 20px;
    height: 50px;
    line-height: 20px;
    /* padding: 15px; */
    /* margin-top:10px; */
}

.navbar-menu{
    margin-left:15px;
    text-decoration: none;
    color: black;
}
.navbar-menu:hover{
    /* font-size: 14px; */
    color: #999;
    cursor: pointer;
}


.limiter{
    width: 100%;
    margin: 0 auto;
}



.container-login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap-login{
    width: 390px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding-bottom: 90px;
    padding-top: 50px;
}



.login-title{
    box-sizing: border-box;
    color: #428bca;
    display: block;
    font-family: Ubuntu-Bold;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 51px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    width: 390px;
}

.wrap-input{
    position: relative;
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom:16px
}

.input{
    font:Ubuntu-Bold;
    color:#428bca;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
    outline:none;
    border:none;
}

/* input{
    outline:none;
    border:none;

} */

button,input{
    overflow: visible;

}

.flex-sb-m{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 3px;
}

.input-checkbox{
    font-size: 13px;
    color:transparent;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background:#fff;
    border:2px solid #428bca;
    /* margin-top:10px; */
    /* display: flex; */
    /* align-items: center; */
}

.label-checkbox{
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    /* padding-left: 26px; */
}

.txt1{
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color:#428bca;
    line-height: 1.4;
}

.container-login{
    display: flex;
    flex-wrap: wrap;
    margin-top:17px;
}

.login{
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color:#fff;
    line-height:1.2;
    text-transform: uppercase;
    padding:0 20px;
    height: 62px;
    background-color: #428bca;
    width: 100%;
    outline: none !important;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login:hover{
    background: #2d2b5e;
}

.float-left{
    float: left;
}

.main{
    padding: 0 30px;
}

.sidebar{
    padding:10px 0; 
    background:#eee;
    font-size: 14px;
    border-radius: 5px;
}


.nav{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ul{
    margin-top:0;
}

.nav li{
    position: relative;
    display: block;
    color: #428bca;
}

.nav li a{
    /* color:#428bca;; */
    padding:8px 15px;
    display: block;
    text-decoration: none;
    color:black;
}

.nav li:hover a{
    background-color: #428bca;
    color:white;
    cursor: pointer;
}

.nav li.active{
    background-color: #428bca;
    color:white;
}

.nav li.active a{
    color:white;
    text-decoration:none;
}

.col-2{
    width: 16%;;
}

.col-10{
    width:83%;
}

.page-header{
    padding-bottom:9px;
    border-bottom: 1px solid #eee;
    margin-bottom:10px;
}

.filter-container{
    background-color: #cbcbcb;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.filter{
    /* margin-right: 5px; */
    /* margin-bottom: 10px; */
}

.filter-item{
    margin:0 10px;
}

.form{
    width: 70%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-label{
    display: inline-block;
    width: 20%;
}

.input-container{
    margin: 15px 0;
}

.form-submit{
    float: right;
    background-color: #428bca;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right:10%;
}

.form-submit:hover{
    background: #3774ab;
}

.form-container{
    width: 80%;
    /* background: #2d2b5e; */
}

footer{
    padding:20px;
    height:50px;
}

#overlay{
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    opacity: 1;
    height:100%;
    width: 100%;
    z-index: 100;
    
}

.nonactive-popup{
    display: none;
}

.active-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 1; */
    /* color:green; */
}

.message{
    color: black;
    width: 80%;
    /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /* -moz-box-shadow:    3px 3px 5px 6px #ccc;  Firefox 3.5 - 3.6 */
    /* box-shadow:         3px 3px 5px 6px #ccc;  */
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.4);
    border-radius: 5px;
    z-index: 10;
    /* opacity: 1; */
}

.message .header {
    background-color: #428bca;
    color:white;
    padding: 10px 32px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message .content{
    background-color:white;
    padding: 10px 20px;
}

/* .message .header h2{
    float: left;
} */

.fa-times{
    /* position: absolute; */
    /* right: 20px; */
    /* top:20px; */
    /* float: right; */
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}
.fa-times:hover{
    color: black;
}

.content .info-row{
    /* background-color: rgba(100,100,0,1); */
    /* opacity: 1; */
    /* z-index: 1; */
    /* visibility: visible; */
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.content .info-row label{
    /* width: 200px; */
    margin-right:60px;
    /* display:inline-block; */
    font-weight: bold;
    /* background-color: rgba(255,255,255,1); */
    /* opacity: 1; */
}

.content .info-row span{
    /* margin-left:5px; */
    /* background-color: rgba(255,255,255,1); */
    /* opacity: 1; */
    /* width: */
}

.content ol{
    list-style-position: inside;
}

.alert{
    padding:10px;
    color:white;
    margin-bottom:20px;
    border-radius: 3px;
}

.wait {
    background-color: #4682b4;
}

.terima{
    background-color: #4cbb17;
}

.tolak{
    background-color: tomato;
}
/* .sidebar a{
    color:black;
    text-decoration: none;
} */